li {
    display: inline-block;
    border: none;
    width: 150px;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.nav {
    color: #000000;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 50px;
}

.nav > li > a {
    text-decoration: none;
    color: #000000;
}
