@font-face{
  font-family: sanchez;
  src:url ("Sanchez-Regular.ttf")
  }

#h1 { color:  #663399; }

#paragraph1::first-letter {
    color:#663399;
    font-size: 25px;
    font-weight: bold;
  }


  #paragraph1 {
    text-indent: 50px;
  }

.paragraph2 {
  text-indent: 50px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #663399;
}

.site {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh; /* If you want the grid to fill the viewport height */
}

.page-title,
.masthead,
.footer {
  grid-column: 1/3;
}

.page-title {
  grid-row: 1/2;
  text-align: center;
  padding: 10px;
  font-size: 36px;
}

.masthead {
  grid-row: 2/3;
}

.main-content {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.main-content2 {
  grid-column: 1;
  grid-row:4/6;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.main-content3 {
  grid-column: 1;
  grid-row:5/6;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.sidebar {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}

.footer {
  grid-row: 4/5;
}

h1 {
  color:  #663399;
}

#paragraph1::first-letter {
  color:#663399;
  font-size: 25px;
  font-weight: bold;
}

#paragraph1, .paragraph2 {
  text-indent: 50px;
}

.green, .red, .blue, .yellow, .purple {
  background-color: lightgray;
}

@media only print { 
 * {
  background: transparent;
  color: black;
  box-shadow: none;
  text-shadow: none;
  }

  .masthead {
    display: none;
  }

  .footer {
    text-align: center;
  }  
  
  a::after{
    content: " (https"attr(href) ") "; }

  @page {
    margin: 1.0in;
  }
  
}



@media only screen and (max-width: 640px) {
  .page-title {
    grid-row: 1/2;
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }

  .masthead {
    font-size: 14px;  

  }

  .masthead #mobilehide {
    display: none;
  }

  .main-content {
    font-size: 14px;
  }

  .main-content2 {
    font-size: 14px;
  }
  
  .main-content3 {
    font-size: 14px;
  }

  .sidebar {
    font-size: 14px;
  
}}
