#h1 { color:  #663399; }

#paragraph1::first-letter {
    color:#663399;
    font-size: 25px;
    font-weight: bold;
  }


  #paragraph1 {
    text-indent: 50px;
  }

.paragraph2 {
  text-indent: 50px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #663399;
}

.site {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh; /* If you want the grid to fill the viewport height */
}

.page-title,
.masthead,
.footer {
  grid-column: 1/3;
}

.page-title {
  grid-row: 1/2;
  text-align: right;
  padding: 10px;
  font-size: 36px;
}

.masthead {
  grid-row: 2/3;
}

.main-content {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 10px;
  margin: 10px;
}

.sidebar {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 10px;
  margin: 10px;
}

.footer {
  grid-row: 4/5;
}

h1 {
  color:  #663399;
}

#paragraph1::first-letter {
  color:#663399;
  font-size: 25px;
  font-weight: bold;
}

#paragraph1, .paragraph2 {
  text-indent: 50px;
}

.green, .red, .blue, .yellow, .purple {
  background-color: lightgray;
  width: 100
}

@media screen and (min-width: 200px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }
