@font-face{
  font-family: Sanchez;
  src: url("Sanchez-Regular.ttf")
  }

#h1 { color:  #663399; }

#paragraph1::first-letter {
    color:#663399;
    font-size: 25px;
    font-weight: bold;
  }


  #paragraph1 {
    text-indent: 50px;
  }

/*reflection page*/
.paragraph2 {
  text-indent: 50px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #663399;
}

.site {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh; /* If you want the grid to fill the viewport height */
}



.page-title,
.masthead,
.footer {
  grid-column: 1/3;
}
.page-title {
  grid-row: 1/2;
  text-align: center;
  padding: 10px;
  font-size: 36px;
}
.masthead {
  grid-row: 2/3;
}
.main-content {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
.main-content2 {
  grid-column: 1;
  grid-row:4/6;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
.main-content3 {
  grid-column: 1;
  grid-row:5/6;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.sidebar {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}


.footer {
  grid-row: 4/5;
  width:100%;
  height:50px;
  margin: 10px auto;
  border: solid lightgray;
  background-image: url('img/purplewatercolor.jpg');
  background-size: cover;
  text-align: center;
  background-repeat: none;
}

/*for projects page*/
.footer2 {
  grid-row: 6/6;
  width:100%;
  height:50px;
  margin: 10px auto;
  border: solid lightgray;
  background-image: url('img/purplewatercolor.jpg');
  background-size: cover;
  text-align: center;
  background-repeat: none;
  
}

img {
  max-width: 600px;
  height: 600px;
  justify-content: center;
}


h1 {
  color:  #663399;
}

/*for all pages*/
#paragraph1::first-letter {
  color:#663399;
  font-size: 25px;
  font-weight: bold;
}

#paragraph1, .paragraph2 {
  text-indent: 50px;

}

.green, .red, .blue, .yellow, .purple {
  background-color: lightgray;
}

.ulmargin{
  text-indent: 15px;
  font-size: 15px;
}

.pic {
  width: 25px;
  height: 25px;
}

.picbig {
  position: absolute;
  width: 0px;
  -webkit-transition: width 0.3s linear 0s;
  transition: width 0.3s linear 0s;
  z-index:10;
}

.pic:hover + .picbig{
  width:100px;
}

table {
  width: 500px;
}

caption{
  text-align: center;
}
th, figcaptions{
  text-align: left;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

tr:first-child {
  background-color: pink;
}

tr:last-child{
  background-color: pink;
}
@media only print { 
 * {
  background: transparent;
  color: black;
  box-shadow: none;
  text-shadow: none;
  }

.page-title green{
  color:#000;
  }

  .masthead {
    display: none;
    font-size: 15px;
    color: #000;
  }
  
  a::after{
    content: " (" attr(href) ") "; 
    color: blue;
  }

  .footer {
    text-align: center;
    border: none;
    justify-content: center;
  }

  .pic {
    display: none;
  }

  .picbig {
    display: none;
  }
 
 
  .main-content {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 10px;
    margin: 10px;
  }

  
  .main-content1 {
    grid-column: 1;
    grid-row: 3/6;
    padding: 10px;
    margin: 10px; 
    font-size: 10px;   
  }
  .main-content2 {
    grid-column: 1;
    grid-row:4/6;
    padding: 10px;
    margin: 10px;    
    font-size: 10px;
  }
  
  .main-content3 {
    grid-column: 1;
    grid-row:5/6;
    padding: 10px;
    margin: 10px;    
    font-size: 10px;
  }

  .sidebar {
    font-size: 12px;
    grid-column: 2/3;
    grid-row: 3/4;
    width: 200px;
    height: 200px;
  }

  img {
    max-width: 200px;
    height: auto;
    text-align: center;
  }

iframe {
      display: none;
  }
h1 {
  color:#000
}
#paragraph1::first-letter {
    color:#000;
    font-size: 25px;
    font-weight: bold;
  }

 

  @page {
    margin: 1.0in;
  }

}




@media only screen and (max-width: 640px) {
  .page-title {
    grid-row: 1/2;
    text-align: center;
    padding: 10px;
    font-size: 15px;
  }

  .masthead {
    font-size: 15px;  

  }

  .masthead #mobilehide {
    display: none;
  }

  .main-content {
    font-size: 10px;
  }
  .main-content2 {
    font-size: 10px;
  }
  
  .main-content3 {
    font-size: 10px;
  }
  .sidebar {
    font-size: 10spx;  
    width: 200px;
    height: 200px;
  }

  iframe {
    max-width: 200px;
    height: auto;
}

  img {
      max-width: 200px;
      height: 200px;
      justify-content: center;
    }
    table {
      width: 350px;
    }
    
    caption{
      text-align: center;
    }

  }
